@import '../../style-mixins/colors.scss';
.user-info{
  grid-column: 2 / 3;
  grid-area: user-info;
  background-color: $user_container_background_color;
  padding-top: 10%;
  border-radius: .3125rem;
  box-shadow: 0 .375rem .75rem rgba(0,0,0,.2);
}
.user-info__img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
