@import '../../style-mixins/colors.scss';

.App{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1auto 1auto 1auto 1auto 1auto 1auto;
  grid-template-areas: ". search ." ". user-info ." ". actions ." ". repos ." ". starred .";
  grid-gap:10px;
  text-align: center;
  margin-top: 5%;
}
.Loading__div{
  grid-column: 2 / 3;
}
